
/* ------ 

	Style color: #9b59b6; 
	
------ */


/* -- All pages -- */

.primary-button{background-color:#9b59b6;}
.primary-button:hover{background-color:#8E4EA9;}

.menu > li > a:hover,.submenu-active,#header-nav .menu-item > a.active{color:#9b59b6!important;}
.menu .sub-menu li a:hover{background-color:#9b59b6;}

.social-item span{color:#9b59b6;}

.page-header{background-color:#9b59b6;}

.sidebar-widget h3{color:#9b59b6;}

.posts-widget li a:hover h4,.list-widget li a:hover{color:#9b59b6;}

.post-navigation{background-color:#9b59b6;}


/* -- One page main -- */

.section-title h2{color:#9b59b6;}

.featured-slide-content h2{color:#9b59b6;}

.about-icon,.service-icon,.single-detail-icon{color:#9b59b6;border-color:#9b59b6;}
.about-icon:hover,.service-icon:hover,.single-detail-icon:hover{background-color:#9b59b6;}

.large-content-right h2{color:#9b59b6;}

.team-section{background-color:#9b59b6;}

#portfolio-item-filter a.active{color:#9b59b6;}
.portfolio-hover-content h3,.portfolio-hover-icon{color:#9b59b6;}

.testimonial-slide .company{color:#9b59b6;}

.contact-input:focus,.contact-text:focus{border-color:#9b59b6;}

.view-map-section{background-color:#9b59b6;}


/* -- Single news -- */

.single-news-title h2{color:#9b59b6;}



/* -- all slide shows -- */

.carousel .owl-dot.active{background-color:#9b59b6;}


/* --- mobile + tablet styles --- */
@media (max-width: 991px) {

		/* -- nav drop down button -- */
		
		#mobile-nav-icon span {background-color:#9b59b6;}

}