
/* ------ 

	Style color: #ff8300; 
	
------ */


/* -- All pages -- */

.primary-button{background-color:#ff8300;}
.primary-button:hover{background-color:#E47602;}

.menu > li > a:hover,.submenu-active,#header-nav .menu-item > a.active{color:#ff8300!important;}
.menu .sub-menu li a:hover{background-color:#ff8300;}

.social-item span{color:#ff8300;}

.page-header{background-color:#ff8300;}

.sidebar-widget h3{color:#ff8300;}

.posts-widget li a:hover h4,.list-widget li a:hover{color:#ff8300;}

.post-navigation{background-color:#ff8300;}


/* -- One page main -- */

.section-title h2{color:#ff8300;}

.featured-slide-content h2{color:#ff8300;}

.about-icon,.service-icon,.single-detail-icon{color:#ff8300;border-color:#ff8300;}
.about-icon:hover,.service-icon:hover,.single-detail-icon:hover{background-color:#ff8300;}

.large-content-right h2{color:#ff8300;}

.team-section{background-color:#ff8300;}

#portfolio-item-filter a.active{color:#ff8300;}
.portfolio-hover-content h3,.portfolio-hover-icon{color:#ff8300;}

.testimonial-slide .company{color:#ff8300;}

.contact-input:focus,.contact-text:focus{border-color:#ff8300;}

.view-map-section{background-color:#ff8300;}


/* -- Single news -- */

.single-news-title h2{color:#ff8300;}



/* -- all slide shows -- */

.carousel .owl-dot.active{background-color:#ff8300;}


/* --- mobile + tablet styles --- */
@media (max-width: 991px) {

		/* -- nav drop down button -- */
		
		#mobile-nav-icon span {background-color:#ff8300;}

}